html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: Helvetica, "Lucida Grande", sans-serif;
    margin: 0;
}

h1, h2, h3 {
    font-family: "Segoe UI", Helvetica, "Lucida Grande", sans-serif;
}

.button {
    display: inline-block;
    padding: 6px 16px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    transition: box-shadow .15s;
    color: white;
    background-color: #3f51b5;
}

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-wide {
    letter-spacing: 2px;
}

/* Landing page */

header {
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    background-color: #242943;
    color: white;
    height: 100vh;
}

/* navbar */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
    display: inline;
}

#navbar a:hover {
    color: #9bf1ff !important;
}

#navbar a:hover #textlogo {
    background-color: #9bf1ff;
}

@media screen and (max-width: 790px) {
    #tagline {
        display: none;
    }
}

#branding {
    order: 1;
}

#textlogo {
    background-color: white;
    color: #242943;
    padding: 4px 8px;
    transition: background-color 0.2s ease-in-out;
}

@media only screen and (max-width: 480px) {
    #navbar {
        justify-content: center;
    }
    #textlogo {
        display: none;
    }
}

.topbartext {
    font-size: 0.8em;
}

nav {
    order: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
}

.external {
    background-color: white;
    padding: 2px 5px 2px 5px;
    color: #242943 !important;
}

/* Landing page content */

#headcontent {
    display: flex;
    align-items: center;
    height: 100%;
    width: 90%;
    margin-left: 5vw;
}

#title {
    width: 100%;
}

#logo {
    max-width: 100%;
    height: auto;
}

#line {
    border-top: 3px solid white;
    margin-top: 16px;
    margin-bottom: 16px;
}

#slogan {
    display: inline;
    vertical-align: middle;
}

/* More info */

#moreinfo {
    background-color: #314159;
    border-left: 16px solid lightgrey;
    padding: 24px 48px;
}

/* Main content */

#body {
    display: flex;
    padding: 12px 24px;
    background-color: #242943;
    min-height: 80vh;
}

@media only screen and (max-width: 700px) {
    #body {
        flex-direction: column;
    }
}

/* Events */

#content {
    flex: 4;
    padding: 16px 32px;
}

.event {
    margin: 1em 0 1em 0;
}

.event p {
    margin-left: 1em;
    margin-top: 0.3em;
    color: lightgray;
}

/* Sidebar */

aside {
    flex: 1;
    background-color: #242943;
    padding: 12px 24px;
}

aside h4 {
    display: inline;
    vertical-align: middle;
}

.sidebar-heading {
    margin-top: 8px;
    margin-bottom: 8px;
}

aside a {
    text-decoration: none;
    color: #a5b7e0
}

.sidebar-item {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
}

.last-item {
    border-bottom: 0;
}

.icondiv {
    border-radius: 50%;
    vertical-align: middle;
    height: 35px;
    width: 35px;
    background-color: white;
    display: inline-block;
    margin-right: 4px;
}

.icon {
    position: relative;
    height: 23px;
    width: 23px;
    left: 6px;
    top: 6px;
}

/* Footer */

footer {
    color: lightgrey;
    background-color: #314159;
    text-align: center;
    padding: 4px 8px;
    border-top: 1px solid #ccc;
}

footer a {
    color: white;
}

/* Room status button */

#roombutton {
    display: flex;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    transition: width 0.8s ease;
    /*display: inline-block;*/
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
}

#roombutton:hover {
    width: 160px;
}

#roombutton p {
    /*display: inline;
    white-space: nowrap;
    overflow: hidden;*/
    align-self: center;
    margin-left: 10px;
    color: white;
    transition: color 0.7s ease 0.1s;
}

#roombutton:hover p {
    color: #242943;
}

#roomicon {
    position: relative;
    height: 30px;
    width: 30px;
    left: 5px;
    top: 5px;
}